/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

//Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";
@import "font-awesome";

.Container {
    padding: 3.5%;
}

.showContainer {
    padding: 5%;
}

.headerContainer {
    text-align: center;

    .btnStyle {
        color: #a7a9ac;
        width: 90%;
    }
    .title {
        color: #54bbff;
    }
    .instructions {
        color: #a7a9ac;
        text-align: left;
        font-weight: 500;
        
    }
    .listContainer {
        font-size: 14px;
        font-weight: 400;
        padding: 0.5%;

        .columns {
            text-align: center;
            color: #a7a9ac; 
            border: solid 1px #a7a9ac;
            padding: 1%;
            h5 {
                color: #a7a9ac;
                text-align: center;
            }
            li {
                padding: 0.5%;
                text-align: left;
                margin-left: 3%;
            }
        }

    
    }

}


.importHeader {
    padding: 1%;
    padding-bottom: 3%;

    .peopleCounter {
        font-size: 25px;
        color: #363945;
    }

    .importFile {
        font-size: 16px;
        color: #a7a9ac;
        
    }

    .myButton {
        font-size: 15px;
        width: 110px;
        border-radius: 4px;
        background: #54bbff;
        color: white;
    }

    .inputStyle {
        font-size: 13px;
        width: 320px;
        color: #a7a9ac;
        border-radius: 4px;
    }

}



.tableStyle th a.styleActive {
    color: #54bbff;
    font-weight: bold;
}



th {
    a {
        color: #a7a9ac;
        font-weight: normal;
        &:hover {
            color: #54bbff;
            text-decoration: none;
        }
    }
}

td {
    font-size: 15px;
    color: #363945;
    font-weight: regular;
    height: 50px;
    a {
        color: black;
        &:hover {
            color: black;
        }
    }
}


